{% extends "home.html" %}

{% block content %}

<h2>Admin account</h2>
<h3>Welcome Leader!</h3>

<p>This is where the database of users would go, as well as the functionality of the erc20 token hackcoin(like minting more tokens, and distributing the tokens)</p>
<br>
<br>
<h3>Accounts:</h3>
{% for post in posts %}
<strong>User:</strong> {{ post.user }}
<br>
<strong>Pass:</strong> {{ post.passw }}
<br>
<strong>Wallet Recieve Address:</strong> {{ post.seed }}
<br>
<br>
{% endfor %}


{% endblock %}