{% extends "home.html" %}

{% block content %}

<h2>{{ title }}</h2>

<p>
    This tokens usecase is exclusive to particpants and winners of any Major League Hacking Hackathon. The idea behind this token is to award it to people participating in
    mini-events, competitions, or workshops. The tokens will be stored to a wallet created specifically for a user upon creation of an account.
    This token will then be used to purchase cool MLH merch! Spend your tokens how you want to!
</p>

{% endblock %}