{% extends "home.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
</head>
<body>
    <div class="bd-example">

        <img src={{url_for('static', filename='swag.jpg')}} />
        <h2><a href="/Hshirt">Shirt SWAG: 500 hacks!</a></h2>
        <img src={{url_for('static', filename='sticker.jpg')}} />
        <h2><a href="/Hsticker">Sticker SWAG: 25 hacks!</a></h2>

    </div>
</body>
</html>

{% endblock %}
